    <a href="#" class="link-reset media__card hover-text">
        <div class="image-block pb-70pcr">
            <img class="media__img ibg" src="{{cardImg}}" />
        </div>
        
        <div class="media__footer">
            <h4 class="mb-reset news__title">{{cardTitle}}</h4>
            <div class="media__description">
                <p class="mb-reset text-grey">{{cardText}}</p>
            </div>
            <p class="text--red mb-reset">{{cardDate}}</p>
        </div>
    </a>
    
    
    
    
      <!--{% component 'card' with {-->
       
        <!--'cardImg': '/images/fb87118e26dc35ca3452bb78bd131cf8.webp',-->
        <!--'cardTitle': 'How far have Leverkusen come under Xabi Alonso?',-->
        <!--'cardText': 'In less than three seasons, Alonso has turned Die Werkself from nearly men into a title-winning force to be reckoned',-->
        <!--'cardDate': '24.04.2025'-->
         
        <!--} %}-->